body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}

.headers {
    display: flex;
    justify-content: space-around;
    color:aliceblue;
    background-color: #bb263f;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: baseline;
}

.header {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-right: 34em;
}

.links {
    display: flex;
    gap: 1em;
}

.links a {
    text-decoration: none;
    color: rgba(240, 248, 255, 0.815);
}

.big-container {
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: #bb263f;
}

.small-container { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sneak-peak {
    font-size: 48px;
    font-weight: extra-bold;
    width: 15em;
    margin-bottom: 10px;
}

.subtext {
    font-size: 20px;
    width: 30em;
    margin-bottom: 10px;
}

button {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: yellowgreen;
    color: aliceblue;
    border-style: none;
    padding: 10px;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.images img {
    width: 10em;
}